h1 {
<<<<<<< HEAD
    font-size: 40px;
    font-family: Arial;
=======
  font-size: 40px;
  font-family: Arial;
>>>>>>> 8328f9f728959f0eeea81ec2ee0e6133694a538f
}

h2 {
<<<<<<< HEAD
    font-size: 25px;
    font-family: Arial;
=======
  font-size: 25px;
  font-family: Arial;
>>>>>>> 8328f9f728959f0eeea81ec2ee0e6133694a538f
}

h3 {
<<<<<<< HEAD
    font-family: Arial;
=======
  font-family: Arial;
>>>>>>> 8328f9f728959f0eeea81ec2ee0e6133694a538f
}

p {
<<<<<<< HEAD
    font-size: 14px;
    font-family: Arial;
}

/* Header bar (final version = blue per task’s last step) */
div {
    background-color: blue;
    text-align: right;
=======
  font-size: 14px;
  font-family: Arial;
}

/* Header bar (final version = blue per taskâ€™s last step) */
div {
  background-color: blue;
  text-align: right;
>>>>>>> 8328f9f728959f0eeea81ec2ee0e6133694a538f
}

/* Table styling */
th, td {
<<<<<<< HEAD
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial;
}

tr:nth-child(odd) {
    background-color:   #f2f2f2;
}
=======
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
>>>>>>> 8328f9f728959f0eeea81ec2ee0e6133694a538f
